<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>
<body style="background: #0C0F38;">

	<header>
		<div class="text">
			<h1><a href="{% url 'news'%}" class="texto">News Today</a></h1>
		</div>

		<div class="main">
			<ul>
				<li><a href="{% url 'news'%}" style="color: unset;">Home</a></li>
				<li><a href="{% url 'cat' %}" style="color: gold;">Categories</a></li>
				<li><a href="#">Sevice</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Sing Up</a></li>
			</ul>
		</div>
	</header>


	<div class="container"><br>
		<div class="conto">
			<h3 class="name">{{News.name}}</h3><br>
			<img src="{{News.photo.url}}" height="500px" alt="">
			<h4>Category - {{News.category}}</h4>
			<p>Date - {{News.date}}</p><br>
		</div>
		<div class="textik">
			<h5>{{News.text}}</h5>
		</div>
	</div>

</body>
</html>